<p id="notice"><%= notice %></p>

<h1>Listing People</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Assigned Keys</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.name, person %></td>
        <td>
          <% person.keys.each do |key| %>
            <%= key.serial_no %><%= ',' unless key == person.keys.last %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
