<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<!-- <p>
  <strong>Loginid:</strong>
  <%= @person.loginid %>
</p> -->

<% if @keys.any? %>
  <p>
    <strong>Assigned Keys</strong>
    <ol id="keys">
      <% @keys.each do |key| %>
        <li>
          <%= key.serial_no %>
        </li>
        <% end %>
    </ol>
<% else %>
  <p>
    <strong>No keys assigned</strong>
  </p>
<% end %>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
