<p id="notice"><%= notice %></p>

<p>
  <strong>Serial no:</strong>
  <%= @key.serial_no %>
</p>

<p>
  <strong>Key class:</strong>
  <%= @key.key_class %>
</p>

<p>
  <strong>Person:</strong>
  <%= @key.person.name %>
</p>

<p>
  <strong>Key Missing?:</strong>
  <%= @key.missing %>
</p>

<p>
  <strong>Door Access:</strong>
  <%= @key.locations.join(', ') %>
</p>

<%= link_to 'Edit', edit_key_path(@key) %> |
<%= link_to 'Back', keys_path %>
