<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Building</th>
      <th>Room</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr data-link="<%= location_path(location) %>">
        <td><%= location.building %></td>
        <td><%= location.room %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
